

/* Hero Header Section */
.hero-section {
    background: url("../images/header.jpg") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    max-height: 350px;
    margin-bottom: 30px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.hero-section-text h2 {
    font-size: 1.25em;
}
/* /Hero Header Section */


aside h1 {
    font-size: 1.5em;
    border-bottom: 2px solid #76c158;
    margin-bottom: 1rem;
}

aside {
    margin: 1.5em 0;
}

/* Blog Post */
.summary-blog-post {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 50px;
}

.summary-blog-post a {
    color: #000;
}

.summary-blog-post .summary-blog-section {
    margin: auto;
    width: 90%;
    background: #fff;
    padding: 25px 25px 0px 25px;
    display: inline-block;
    z-index: 2;
}
img.blog-image + div.summary-blog-section {
    margin-top: -5rem;
}

.summary-blog-post .meta-data {
    text-transform: uppercase;
}

.summary-body.blog-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    max-height: 200px;
}

.summary-body.blog-preview:after {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    pointer-events: none; /* so the text is still selectable */
}

.summary-body figure {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 1600px) {
    .summary-body:not(.blog-preview) figure:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}

.blog-preview-close:after {
    content: "Close";
}


/* ASIDE */
aside.aside-side_note {
    padding-left: .5rem;
    margin: .5rem;
    float: right;
    border-left: 3px solid #76c158;
}
@media only screen and (min-width: 768px) {
    aside.aside-side_note {
        width: 40%;
    }
}

aside.aside-side_note > p {
    margin: .125rem;
}

aside.aside-side_note > h1, h2, h3, h4, h5, h6 {
    font-size: larger;
}

aside.aside-block {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 10px;
}
/* /ASIDE */


/* /Blog Post */


/* Blog tags */
.aside-blog-tags {
    margin-bottom: 30px;
}

.aside-blog-tags a {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    border-radius: 5000px;
    background: #e6e6e6;
    display: inline-block;
    color: #808080;
    margin: 3px;
}

.aside-blog-tags a.selected-tag {
    background-color: #76c158;
    color: #fff;
}

.aside-blog-tags a:hover {
    background: #808080;
    color: #fff;
}
/* Blog tags */