


aside h1 {
    font-size: 1.5em;
    border-bottom: 2px solid #76c158;
    margin-bottom: 1rem;
}


/* Blog Post */
.summary-blog-post {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 50px;
}

.summary-blog-post a {
    color: #000;
}

.summary-blog-post .summary-blog-section {
    margin: auto;
    width: 90%;
    background: #fff;
    padding: 25px 25px 0px 25px;
    margin-top: -5rem;
    display: inline-block;
    z-index: 2;
}

.summary-blog-post .meta-data {
    text-transform: uppercase;
}

.summary-body.blog-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    max-height: 200px;
}

.summary-body.blog-preview:after {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    pointer-events: none; /* so the text is still selectable */
}

.blog-preview-close:after {
    content: "Close";
}
/* /Blog Post */


/* Blog tags */
.aside-blog-tags {
    margin-bottom: 30px;
}

.aside-blog-tags a {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    border-radius: 5000px;
    background: #e6e6e6;
    display: inline-block;
    color: #808080;
    margin: 3px;
}

.aside-blog-tags a:hover {
    background: #808080;
    color: #fff;
}
/* Blog tags */